{% extends 'base.html' %}

{% block head%}
	<title>TA allotment</title>
{% endblock %}

{% block body %}
	<div class="container">
		<table style="border: 1px solid black; width:100%">
			<tr><th style="border: 1px solid black"> Course </th><th style="border: 1px solid black"> TA </th></tr>
			{% for allotment in allotments %}
				<tr><td style="border: 1px solid black">{{ allotment.course }}</td><td style="border: 1px solid black">{{ allotment.ta }}</td></tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
