{% extends 'base.html' %}

{% block head %}
	<title>Profile</title>
{% endblock %}
{% block body %}
	<div class="container">
		<h1>Profile</h1>
		<p>Username: {{ user }}</p>
		<p>First Name: {{ user.first_name }}</p>
		<p>Last Name: {{ user.last_name }}</p>
		<p>Email: {{ user.email }}</p>
		{% if user.role == 1 %}
			<p>Role: TA</p>
			<p>Phone Number: {{ user.ta_profile.phone_number }}</p>
			<p>Address: {{ user.ta_profile.address }}</p>
		{% elif user.role == 2 %}
			<p>Role: Teacher</p>
			<p>Phone Number: {{ user.teacher_profile.phone_number }}</p>
			<p>Address: {{ user.teacher_profile.address }}</p>
		{% elif user.role == 3 %}
			<p>Role: Admin</p>
			<p>Phone Number: {{ user.admin_profile.phone_number }}</p>
			<p>Address: {{ user.admin_profile.address }}</p>
		{% endif %}
	</div>
{% endblock %}

